<div class="col-xs-12">
  <div class="well">
    <% @messages.each do |message| %>
      <div class="row">
        <% if current_company && message.company == current_company || current_customer && message.customer == current_customer %>
          <div class="col-xs-6 col-xs-offset-6 right-message speech-bubble">
            <p>Sent By: Me</p>
            <p><%= message.created_at.strftime("%m/%d/%Y - %H:%M") %></p>
            <p><%= message.body %></p>
          </div>
        <% else %>
          <div class="col-xs-6 left-message speech-bubble">
            <p>Sent By: <%= message.company ? message.company.name : message.customer.email %></p>
            <p><%= message.created_at.strftime("%m/%d/%Y - %H:%M") %></p>
            <p><%= message.body %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="col-xs-12 text-center">
  <%= form_tag "/conversations/#{@conversation.id}/messages", method: :post do %> 
      <%= text_area_tag :body, "", required:true, class: "form-control", placeholder: 'Send Message'%>
      <% if current_customer %>
        <%= hidden_field_tag 'customer_id', current_customer.id %>
      <% else %>
        <%= hidden_field_tag 'company_id', current_company.id %>
      <% end %>
      <button type="submit" class="btn btn-theme-bg">Submit</button>
  <% end %>
</div>
